footer {
  background-color: #42b2fc;
  color: #fff;
}
.links,
.auth-links ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.links li,
.auth-links ul li {
  list-style: none;
}
.links li a,
.auth-links ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}
.auth-links ul {
  justify-content: end;
}
@media (max-width: 550px) {
  .links li {
    width: 300px;
  }
  .auth-links ul {
    justify-content: start;
    padding: 0;
  }
}
